.container {
  margin-left: 9rem;
  margin-right: 2rem;
  max-width: 1200px;
  margin-top: 2px;
 
}

@media only screen and (max-width: 1200px) {
  .container {
      margin-left: 2rem;
      margin-right: 2rem;
  }
  
}